<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @AppSettings.AppTitle</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/lib/iCheck/skins/square/blue.css" rel="stylesheet" />
    <link href="~/lib/ionicons/css/ionicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/alertify-js/build/css/alertify.css" />
    <link rel="stylesheet" href="~/lib/alertify-js/build/css/themes/default.css" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="hold-transition bg-gray public-layout">
    <input type="hidden" id="hidResponse" value="@(TempData["Response"] ?? ViewBag.Response)" />
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/alertify-js/build/alertify.js"></script>
    <script src="~/lib/iCheck/icheck.js"></script>
    <script src="~/js/app-utils.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
